$White: rgb(255, 255, 255);
$DarkGray: rgb(108, 108, 108);
$Gray: rgb(212, 212, 212);
$Black: rgb(14, 23, 38);
$LightBlue: rgb(244, 250, 253);
$LightYellow: rgb(255, 227, 154);

$Title: 48px;
$Header: 36px;
$Accordion: 18px;
$Subtitle: 14px;
$Body: 16px;

@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(segoe-ui-4-cufonfonts/Segoe\ UI.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  .subtitle {
    color: $Black;
    font-size: $Subtitle;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .title {
    color: $Black;
    font-size: $Title;
    font-weight: 600;
  }

  .header {
    color: $Black;
    font-size: $Header;
    font-weight: 600;
  }

  .body {
    color: $Black;
    font-size: $Body;
    font-weight: 400;
    margin: 1rem 0;
  }
}

.navbar {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: $White;
  padding: 1rem 8vw;
  box-shadow: 5px 0px 5px $Gray;

  .icons {
    display: flex;
    gap: 2vw;

    a {
      img {
        width: 25px;
        height: auto;
        transition: transform 100ms ease-in, color 100ms ease-in;
      }
    }
  }

  .nav-menu {
    display: flex;
    gap: 1vw;
    margin: 0 0.5rem 0.3rem;

    .nav-item {
      text-decoration: none;
      position: relative;
      color: $DarkGray;
      font-weight: 600;
      font-size: $Accordion;
    }

    #black {
      color: $Black;
    }
  }

  .hamburger {
    display: none;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $White;
    }
  }
}

#sticky {
  position: sticky;
  top: 0;
  padding: 1rem 15vw;

  .nav-menu {
    gap: 3vw;

    .nav-item {
      color: $Black;
      font-weight: 400;
      font-size: $Subtitle;

      &::after {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $Black;
        position: absolute;
        top: 36px;
        left: 0px;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.landing {
  padding: 11vw 15vw;
  background-image: url("Main_Background.jpg");
  background-position: 0 70%;
  background-size: cover;
  background-blend-mode: soft-light;

  .body {
    width: 35vw;
  }
}

.hero {
  background-color: $LightBlue;
  padding: 4rem 0;

  .anchor {
    display: block;
    position: relative;
    visibility: hidden;
  }

  #section1 {
    top: -25vh;
  }

  #section2 {
    top: 17vh;
  }

  .section {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 auto;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .accordion {
        cursor: pointer;
        background-color: $LightBlue;
        border: none;
        transition: 0.5s;
        font-weight: 500;
        font-size: $Accordion;
        padding: 2vw 0 0 2vw;
        width: 30vw;
        text-align: left;
      }

      .accordion:after {
        content: "\2335";
        font-size: $Body;
        margin: auto 0.5rem;
        display: inline-block;
        font-weight: 500;
        transition: 0.5s;
      }

      .panel {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.8s ease-out;
        padding: 1vw 0 1vw 2vw;
        border-left: 3px solid $Black;
        width: 25vw;
      }
    }

    .active:after {
      transform: rotate(-180deg);
      transition: 0.5s;
    }

    .content {
      position: relative;
      background-color: $White;
      box-shadow: 0px 0px 5px $Gray;
      border-radius: 25px;
      top: 4vw;
      width: 40vw;
      height: 50vh;
    }
  }

  #column {
    display: block;
    margin: 16vw auto;
    text-align: center;

    .text {
      margin-bottom: 2vw;
      margin: 0 auto;
      display: block;

      .subtitle {
        margin: 0;
      }

      .body {
        margin: 0 auto 2vw;
      }
    }

    .images {
      display: flex;
      justify-content: space-evenly;

      .content {
        gap: 10vw;
        position: relative;
        top: 0;
        width: 20vw;
      }
    }
  }

  #right {
    margin: 14vw auto 4vw;
    justify-content: space-around;

    .content {
      top: 0;
    }

    .text {
      width: 25vw;
      margin: auto 0;
    }
  }
}
