@charset "UTF-8";
@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(segoe-ui-4-cufonfonts/Segoe\ UI.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body .subtitle {
  color: rgb(14, 23, 38);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0.5rem 0;
}
body .title {
  color: rgb(14, 23, 38);
  font-size: 48px;
  font-weight: 600;
}
body .header {
  color: rgb(14, 23, 38);
  font-size: 36px;
  font-weight: 600;
}
body .body {
  color: rgb(14, 23, 38);
  font-size: 16px;
  font-weight: 400;
  margin: 1rem 0;
}

.navbar {
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem 8vw;
  box-shadow: 5px 0px 5px rgb(212, 212, 212);
}
.navbar .icons {
  display: flex;
  gap: 2vw;
}
.navbar .icons a img {
  width: 25px;
  height: auto;
  transition: transform 100ms ease-in, color 100ms ease-in;
}
.navbar .nav-menu {
  display: flex;
  gap: 1vw;
  margin: 0 0.5rem 0.3rem;
}
.navbar .nav-menu .nav-item {
  text-decoration: none;
  position: relative;
  color: rgb(108, 108, 108);
  font-weight: 600;
  font-size: 18px;
}
.navbar .nav-menu #black {
  color: rgb(14, 23, 38);
}
.navbar .hamburger {
  display: none;
}
.navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}

#sticky {
  position: sticky;
  top: 0;
  padding: 1rem 15vw;
}
#sticky .nav-menu {
  gap: 3vw;
}
#sticky .nav-menu .nav-item {
  color: rgb(14, 23, 38);
  font-weight: 400;
  font-size: 14px;
}
#sticky .nav-menu .nav-item::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgb(14, 23, 38);
  position: absolute;
  top: 36px;
  left: 0px;
}
#sticky .nav-menu .nav-item:hover::after {
  width: 100%;
}

.landing {
  padding: 11vw 15vw;
  background-image: url("Main_Background.jpg");
  background-position: 0 70%;
  background-size: cover;
  background-blend-mode: soft-light;
}
.landing .body {
  width: 35vw;
}

.hero {
  background-color: rgb(244, 250, 253);
  padding: 4rem 0;
}
.hero .anchor {
  display: block;
  position: relative;
  visibility: hidden;
}
.hero #section1 {
  top: -25vh;
}
.hero #section2 {
  top: 17vh;
}
.hero .section {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
}
.hero .section .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero .section .text .accordion {
  cursor: pointer;
  background-color: rgb(244, 250, 253);
  border: none;
  transition: 0.5s;
  font-weight: 500;
  font-size: 18px;
  padding: 2vw 0 0 2vw;
  width: 30vw;
  text-align: left;
}
.hero .section .text .accordion:after {
  content: "⌵";
  font-size: 16px;
  margin: auto 0.5rem;
  display: inline-block;
  font-weight: 500;
  transition: 0.5s;
}
.hero .section .text .panel {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
  padding: 1vw 0 1vw 2vw;
  border-left: 3px solid rgb(14, 23, 38);
  width: 25vw;
}
.hero .section .active:after {
  transform: rotate(-180deg);
  transition: 0.5s;
}
.hero .section .content {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(212, 212, 212);
  border-radius: 25px;
  top: 4vw;
  width: 40vw;
  height: 50vh;
}
.hero #column {
  display: block;
  margin: 16vw auto;
  text-align: center;
}
.hero #column .text {
  margin-bottom: 2vw;
  margin: 0 auto;
  display: block;
}
.hero #column .text .subtitle {
  margin: 0;
}
.hero #column .text .body {
  margin: 0 auto 2vw;
}
.hero #column .images {
  display: flex;
  justify-content: space-evenly;
}
.hero #column .images .content {
  gap: 10vw;
  position: relative;
  top: 0;
  width: 20vw;
}
.hero #right {
  margin: 14vw auto 4vw;
  justify-content: space-around;
}
.hero #right .content {
  top: 0;
}
.hero #right .text {
  width: 25vw;
  margin: auto 0;
}/*# sourceMappingURL=index.css.map */