$White: rgb(255, 255, 255);
$DarkGray: rgb(108, 108, 108);
$Gray: rgb(212, 212, 212);
$Black: rgb(14, 23, 38);
$LightBlue: rgb(244, 250, 253);
$LightYellow: rgb(255, 227, 154);

$Title: 48px;
$Header: 36px;
$Subtitle: 14px;
$Body: 18px;
$Mobile: 20px;

@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(segoe-ui-4-cufonfonts/Segoe\ UI.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

body {
  .subtitle {
    color: $Black;
    font-size: $Subtitle;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.5rem 0;
  }

  .title {
    color: $Black;
    font-size: $Title;
    font-weight: 600;
  }

  .Header {
    color: $Black;
    font-size: $Header;
    font-weight: 600;
  }

  .body {
    color: $Black;
    font-size: $Body;
    font-weight: 400;
    width: 35vw;
    margin: 1rem 0;
  }
}

.navbar {
  // position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: $White;
  padding: 1rem 8vw;
  box-shadow: 5px 0px 5px $Gray;

  .icons {
    display: flex;
    gap: 2vw;

    a {
      img {
        width: 25px;
        height: auto;
        transition: transform 100ms ease-in, color 100ms ease-in;

        &:hover {
          transform: translateY(-2px) scale(1.05);
          color: $Black;
        }
      }
    }
  }

  .nav-menu {
    display: flex;
    gap: 3vw;
    margin: 0 0.4rem 0.25rem;

    .nav-item {
      text-decoration: none;
      position: relative;
      color: $DarkGray;
      font-weight: 600;
      font-size: $Body;
    }
  }

  .hamburger {
    display: none;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: $White;
    }
  }
}

#sticky {
  position: sticky;
  top: 0;
  padding: 1rem 15vw;

  .nav-menu {
    .nav-item {
      color: $Black;
      font-weight: 400;
      font-size: $Subtitle;

      &::after {
        content: "";
        width: 0%;
        height: 3px;
        background-color: $Black;
        position: absolute;
        top: 36px;
        left: 0px;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.landing {
  padding: 11vw 15vw;
  background-image: url("Main_Background.jpg");
  background-position: 0 70%;
  background-size: cover;
  background-blend-mode: soft-light;
}

.hero {
  display: grid;
  grid-template-columns: 27vw 27vw;
  grid-column-gap: 10vw;
  grid-row-gap: 2rem;
  background-color: $LightBlue;
  padding: 2rem 15vw;

  .section {
    .body {
      width: 25vw;
    }

    .content {
      position: relative;
      background-color: $White;
      box-shadow: 0px 0px 5px $Gray;
      border-radius: 25px;
      width: 25vw;
      height: 40vh;
    }
  }
}
